<div class="col-3 project-col">
  <a href="/" class="text-decoration-none text-main project-encapsulation">
    <div class="card h-100 project-card">
      <div class="bg-warning project-img">
        <span class="project-tag">ruby</span>
      </div>
      <div class="card-body project-body">
        <h5 class="card-title project-title">Card title</h5>
        <p class="card-text project-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a class="btn btn-warning project-btn">Learn More</a>
      </div>
    </div>
  </a>
</div>
