<div class="col-3 project-col">
  <a href="/" class="text-decoration-none text-main project-encapsulation">
    <div class="card h-100 project-card">
      <div class="bg-warning project-img" style="background-image: url({{ site.baseurl }}/media/images/placeholders/{{ include.image }})">
        {% if number != "" %}<span class="project-tag" style="color: white">{{ include.number }}</span>{% endif %}
      </div>
      <div class="card-body project-body">
        <h5 class="card-title project-title">{{ include.name }}</h5>
        <p class="card-text project-text">{{ include.text }}</p>
      </div>
    </div>
  </a>
</div>
