<!-- {% include projects/project.html %} {% include projects/project.html %} {%
include projects/project.html %} -->
<div class="container-fluid px-0 projects-block">
  <div class="container px-0 projects-container">
    <div class="row gx-4 gy-4 projects-row">
      {% include projects/project.html %} {% include projects/project.html %} {%
      include projects/project.html %} {% include projects/project.html %} {%
      include projects/project.html %} {% include projects/project.html %} {%
      include projects/project.html %} {% include projects/project.html %}
    </div>
  </div>
</div>
