.form-inputs {
  box-shadow: inset 0 0 3px $main;
  border: 3px solid white;
  border-radius: $border-radius;
  background-color: #f3f3f33b;
}
.form-inputs::placeholder {
}
.form-inputs:focus {
  box-shadow: none !important;
}
.contact-form {
  background-color: $main;
  color: $partial !important;
  border-radius: $border-radius;
}
