.hero-block {
  .hero-container {
    .left-container {
      h1 {
        @extend .mb-0;
        font-size: 3rem !important;
        span {
          font-family: $main-font;
          font-weight: 400;
          color: grey;
        }
      }
      p {
        font-family: $partial-font;
        font-size: 2rem;
        @extend .mb-3;
      }
    }
    .right-container {
      height: 350px;
      width: 350px;
      border: 3px solid $main;
      border-radius: $border-radius-lg;
      background-image: url("../media/images/placeholders/person.png");
      background-size: cover;
      background-position: center;
    }
  }
}
