$main: black;
$accent: red;
$partial: white;
$border-radius-lg: 1.2rem;
$border-radius-md: 1rem;
$border-radius: 0.8rem;
$box-shadow: 0px 5px 30px 5px #a4a4a4;
// $box-shadow-md:;
// $box-shadow-lg:;
$main-font: "Inter", sans-serif;
$partial-font: "Libre Baskerville", serif;
