---
---

@import "bootstrap/scss/bootstrap.scss";
@import "variables";
@import "buttons";
@import "navigation";
@import "hero";
@import "projects";
@import "tech";
@import "contact";
@import "about";
body {
  font-size: 16px;
  font-family: $main-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $partial-font;
  font-weight: bold;
}
.bg-main {
  background-color: $main !important;
  color: white !important;
}
.bg-partial {
  background-color: $partial !important;
  color: white !important;
}
.text-main {
  color: $main !important;
}

.somediv {
  @extend .text-success;
}

.color-main {
  color: $main !important;
}

.img-container {
  @extend .bg-primary;
}
.project-img {
  min-height: 250px;
}
