<div class="contact-form p-4">
  <form>
    <div class="mb-3">
      <input
        type="text"
        id="disabledTextInput"
        class="form-control form-inputs"
        placeholder="Your Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        id="disabledTextInput"
        class="form-control form-inputs"
        placeholder="Your Email"
      />
    </div>
    <div class="mb-3">
      <textarea
        class="form-control form-inputs"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Enter Message"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary w-100 d-inline">Submit</button>
  </form>
</div>
