<div class="contact-form p-4">
  <form action="/">
    <div class="mb-3">
      <input type="text" id="disabledTextInput" class="form-control form-inputs" placeholder="Your Name" />
    </div>
    <div class="mb-3">
      <input type="text" id="disabledTextInput" class="form-control form-inputs" placeholder="Your Email" />
    </div>
    <div class="mb-3">
      <textarea class="form-control form-inputs" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Message"></textarea>
    </div>

    <button type="submit" class="outline-deployed-btn-w-lg d-inline w-100">Submit</button>
  </form>
</div>
