<div class="container-fluid px-0 bg-main">
  <div class="container px-0 py-5 text-center">
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos porro earum
      dolor esse in repellat ipsum hic totam! Quod earum debitis officia quia
      voluptates amet obcaecati soluta explicabo reiciendis voluptate. Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Iure ea eos eligendi
      reprehenderit alias sunt sed, excepturi in recusandae adipisci quibusdam
      quisquam debitis accusamus eveniet ex at, mollitia ratione. Ducimus.
    </p>
  </div>
</div>
